{% load static %}
<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>


    <link href="{% static 'css/butfies.css' %}" rel="stylesheet">
    <link href="{% static 'css/_boots.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/_main.css' %}" rel="stylesheet"> 
    <link href="{% static 'css/offcanvas-navbar.css' %}" rel="stylesheet">

    <script src="{% static 'js/color_modes.js' %}"></script>
</head>
<body>
    <canvas id="canvas" class="bg-body-tertiary" style="position: fixed; top: 0; left: 0; z-index: -1;"></canvas>
       <svg class="d-none">
        {% include 'partials/_color.html' %}
    </svg>

    <div class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle">
        {% include 'partials/_sidebar.html' %}
    </div>

    <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
        <div class="container-fluid">
            {% include 'partials/_off_navbar.html' %}
        </div>
    </nav>

    <div class="nav-scroller bg-body shadow-sm">
        {% include 'partials/_upperlink.html' %}
    </div>

    <main class="container mt-4">
        {% block content %}
        <!-- Your block content goes here -->
        {% endblock %}
    </main>

    <footer class="pt-4 my-md-4 pt-md-8 border-top my-2 pt-5">
        <div class="text-center">
            {% include 'partials/footer.html' %}
        </div>
    </footer>


    <meta http-equiv="refresh" content="{{ request.GET.delay }}">
    <script src="{% static 'js/butfy.js' %}"></script>
    <script src="{% static 'js/van.js' %}"></script>
    <script src="{% static 'js/bundle.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
</body>
</html>
